.chatNotSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    &_img {
        height: 100px;
    }
    &_descr {
        margin-top: 15px;
        font-weight: 300;
        color: #fff;
        font-size: 20px;
    }
}